USE [MiniInventoryDB]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 7/3/2026 10:23:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[CategoryId] [int] IDENTITY(1,1) NOT NULL,
	[CategoryName] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](255) NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Categories] PRIMARY KEY CLUSTERED 
(
	[CategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Items]    Script Date: 7/3/2026 10:23:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Items](
	[ItemId] [int] IDENTITY(1,1) NOT NULL,
	[ItemCode] [nvarchar](50) NOT NULL,
	[Barcode] [nvarchar](50) NULL,
	[ItemName] [nvarchar](100) NOT NULL,
	[CategoryId] [int] NOT NULL,
	[SupplierId] [int] NOT NULL,
	[CostPrice] [decimal](18, 2) NOT NULL,
	[SellingPrice] [decimal](18, 2) NOT NULL,
	[ReorderLevel] [int] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
	[CategoryId1] [int] NULL,
	[SupplierId1] [int] NULL,
 CONSTRAINT [PK_Items] PRIMARY KEY CLUSTERED 
(
	[ItemId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StockIns]    Script Date: 7/3/2026 10:23:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StockIns](
	[StockInId] [int] IDENTITY(1,1) NOT NULL,
	[ItemId] [int] NOT NULL,
	[SupplierId] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[CostPrice] [decimal](18, 2) NOT NULL,
	[StockInDate] [datetime2](7) NOT NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
	[ItemId1] [int] NULL,
	[SupplierId1] [int] NULL,
 CONSTRAINT [PK_StockIns] PRIMARY KEY CLUSTERED 
(
	[StockInId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StockOuts]    Script Date: 7/3/2026 10:23:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StockOuts](
	[StockOutId] [int] IDENTITY(1,1) NOT NULL,
	[ItemId] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[Reason] [nvarchar](50) NOT NULL,
	[StockOutDate] [datetime2](7) NOT NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
	[ItemId1] [int] NULL,
 CONSTRAINT [PK_StockOuts] PRIMARY KEY CLUSTERED 
(
	[StockOutId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Suppliers]    Script Date: 7/3/2026 10:23:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Suppliers](
	[SupplierId] [int] IDENTITY(1,1) NOT NULL,
	[SupplierName] [nvarchar](100) NOT NULL,
	[ContactNumber] [nvarchar](20) NULL,
	[Email] [nvarchar](100) NULL,
	[Address] [nvarchar](255) NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Suppliers] PRIMARY KEY CLUSTERED 
(
	[SupplierId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 7/3/2026 10:23:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](50) NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[PasswordHash] [nvarchar](255) NOT NULL,
	[Role] [nvarchar](50) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Categories] ON 

INSERT [dbo].[Categories] ([CategoryId], [CategoryName], [Description], [IsActive], [CreatedDate]) VALUES (1, N'Fiction', N'Novels and storybooks', 1, CAST(N'2026-06-25T12:39:23.1779319' AS DateTime2))
INSERT [dbo].[Categories] ([CategoryId], [CategoryName], [Description], [IsActive], [CreatedDate]) VALUES (2, N'Non-Fiction', N'Biographies and history', 1, CAST(N'2026-06-25T12:55:46.8569367' AS DateTime2))
INSERT [dbo].[Categories] ([CategoryId], [CategoryName], [Description], [IsActive], [CreatedDate]) VALUES (3, N'Science Fiction', N'Sci-fi and fantasy', 1, CAST(N'2026-06-25T12:56:27.5459562' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Categories] OFF
GO
SET IDENTITY_INSERT [dbo].[Items] ON 

INSERT [dbo].[Items] ([ItemId], [ItemCode], [Barcode], [ItemName], [CategoryId], [SupplierId], [CostPrice], [SellingPrice], [ReorderLevel], [IsActive], [CreatedDate], [CategoryId1], [SupplierId1]) VALUES (1, N'FIC001', N'9780141182801', N'1984 by George Orwell', 1, 1, CAST(800.00 AS Decimal(18, 2)), CAST(1200.00 AS Decimal(18, 2)), 5, 1, CAST(N'2026-06-25T13:06:41.1954949' AS DateTime2), NULL, NULL)
INSERT [dbo].[Items] ([ItemId], [ItemCode], [Barcode], [ItemName], [CategoryId], [SupplierId], [CostPrice], [SellingPrice], [ReorderLevel], [IsActive], [CreatedDate], [CategoryId1], [SupplierId1]) VALUES (2, N'SCF001', N'9780261103573', N'The Hobbit by J.R.R. Tolkien', 3, 2, CAST(1500.00 AS Decimal(18, 2)), CAST(2200.00 AS Decimal(18, 2)), 4, 1, CAST(N'2026-06-25T13:07:08.1745949' AS DateTime2), NULL, NULL)
INSERT [dbo].[Items] ([ItemId], [ItemCode], [Barcode], [ItemName], [CategoryId], [SupplierId], [CostPrice], [SellingPrice], [ReorderLevel], [IsActive], [CreatedDate], [CategoryId1], [SupplierId1]) VALUES (3, N'NFC001', N'9780345383666', N'A Brief History of Time by Stephen Hawking', 2, 1, CAST(1200.00 AS Decimal(18, 2)), CAST(1800.00 AS Decimal(18, 2)), 3, 1, CAST(N'2026-06-25T13:07:28.9051263' AS DateTime2), NULL, NULL)
SET IDENTITY_INSERT [dbo].[Items] OFF
GO
SET IDENTITY_INSERT [dbo].[StockIns] ON 

INSERT [dbo].[StockIns] ([StockInId], [ItemId], [SupplierId], [Quantity], [CostPrice], [StockInDate], [CreatedDate], [ItemId1], [SupplierId1]) VALUES (1, 1, 1, 50, CAST(800.00 AS Decimal(18, 2)), CAST(N'2026-06-25T13:53:45.0655820' AS DateTime2), CAST(N'2026-06-25T13:53:45.0658616' AS DateTime2), NULL, NULL)
INSERT [dbo].[StockIns] ([StockInId], [ItemId], [SupplierId], [Quantity], [CostPrice], [StockInDate], [CreatedDate], [ItemId1], [SupplierId1]) VALUES (2, 2, 2, 30, CAST(1500.00 AS Decimal(18, 2)), CAST(N'2026-06-25T13:54:13.3582768' AS DateTime2), CAST(N'2026-06-25T13:54:13.3582807' AS DateTime2), NULL, NULL)
INSERT [dbo].[StockIns] ([StockInId], [ItemId], [SupplierId], [Quantity], [CostPrice], [StockInDate], [CreatedDate], [ItemId1], [SupplierId1]) VALUES (3, 3, 1, 20, CAST(1200.00 AS Decimal(18, 2)), CAST(N'2026-06-25T13:54:36.8114027' AS DateTime2), CAST(N'2026-06-25T13:54:36.8114058' AS DateTime2), NULL, NULL)
SET IDENTITY_INSERT [dbo].[StockIns] OFF
GO
SET IDENTITY_INSERT [dbo].[StockOuts] ON 

INSERT [dbo].[StockOuts] ([StockOutId], [ItemId], [Quantity], [Reason], [StockOutDate], [CreatedDate], [ItemId1]) VALUES (1, 1, 3, N'Sale', CAST(N'2026-06-25T13:55:41.9036862' AS DateTime2), CAST(N'2026-06-25T13:55:41.9038595' AS DateTime2), NULL)
INSERT [dbo].[StockOuts] ([StockOutId], [ItemId], [Quantity], [Reason], [StockOutDate], [CreatedDate], [ItemId1]) VALUES (2, 1, 1, N'Damage', CAST(N'2026-06-25T13:56:13.9796463' AS DateTime2), CAST(N'2026-06-25T13:56:13.9796505' AS DateTime2), NULL)
INSERT [dbo].[StockOuts] ([StockOutId], [ItemId], [Quantity], [Reason], [StockOutDate], [CreatedDate], [ItemId1]) VALUES (3, 2, 2, N'Sale', CAST(N'2026-06-25T13:56:38.0625523' AS DateTime2), CAST(N'2026-06-25T13:56:38.0625563' AS DateTime2), NULL)
SET IDENTITY_INSERT [dbo].[StockOuts] OFF
GO
SET IDENTITY_INSERT [dbo].[Suppliers] ON 

INSERT [dbo].[Suppliers] ([SupplierId], [SupplierName], [ContactNumber], [Email], [Address], [IsActive], [CreatedDate]) VALUES (1, N'Penguin Random House', N'077-1111111', N'orders@penguin.lk', N'Colombo 01', 1, CAST(N'2026-06-25T12:58:14.2522465' AS DateTime2))
INSERT [dbo].[Suppliers] ([SupplierId], [SupplierName], [ContactNumber], [Email], [Address], [IsActive], [CreatedDate]) VALUES (2, N'HarperCollins', N'011-2222222', N'supply@harper.lk', N'Colombo 03', 1, CAST(N'2026-06-25T12:58:45.8514650' AS DateTime2))
INSERT [dbo].[Suppliers] ([SupplierId], [SupplierName], [ContactNumber], [Email], [Address], [IsActive], [CreatedDate]) VALUES (3, N'Hachette Livre', N'077-3333333', N'info@hachette.lk', N'Colombo 07', 1, CAST(N'2026-06-25T12:59:16.5458403' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Suppliers] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([UserId], [Username], [Email], [PasswordHash], [Role], [IsActive], [CreatedDate]) VALUES (1, N'admin', N'admin@bookstore.com', N'admin123', N'Administrator', 1, CAST(N'2026-07-01T10:10:34.410' AS DateTime))
INSERT [dbo].[Users] ([UserId], [Username], [Email], [PasswordHash], [Role], [IsActive], [CreatedDate]) VALUES (2, N'manager', N'manager@bookstore.com', N'manager123', N'Manager', 1, CAST(N'2026-07-01T10:10:34.410' AS DateTime))
INSERT [dbo].[Users] ([UserId], [Username], [Email], [PasswordHash], [Role], [IsActive], [CreatedDate]) VALUES (3, N'staff', N'staff@bookstore.com', N'staff123', N'Staff', 1, CAST(N'2026-07-01T10:10:34.410' AS DateTime))
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__536C85E4E775B297]    Script Date: 7/3/2026 10:23:36 AM ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__A9D10534151FDB7C]    Script Date: 7/3/2026 10:23:36 AM ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Categories] ADD  DEFAULT (CONVERT([bit],(1))) FOR [IsActive]
GO
ALTER TABLE [dbo].[Categories] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[Items] ADD  DEFAULT ((0)) FOR [ReorderLevel]
GO
ALTER TABLE [dbo].[Items] ADD  DEFAULT (CONVERT([bit],(1))) FOR [IsActive]
GO
ALTER TABLE [dbo].[Items] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[StockIns] ADD  DEFAULT (getdate()) FOR [StockInDate]
GO
ALTER TABLE [dbo].[StockIns] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[StockOuts] ADD  DEFAULT (getdate()) FOR [StockOutDate]
GO
ALTER TABLE [dbo].[StockOuts] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[Suppliers] ADD  DEFAULT (CONVERT([bit],(1))) FOR [IsActive]
GO
ALTER TABLE [dbo].[Suppliers] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ('Staff') FOR [Role]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[Items]  WITH CHECK ADD  CONSTRAINT [FK_Items_Categories_CategoryId] FOREIGN KEY([CategoryId])
REFERENCES [dbo].[Categories] ([CategoryId])
GO
ALTER TABLE [dbo].[Items] CHECK CONSTRAINT [FK_Items_Categories_CategoryId]
GO
ALTER TABLE [dbo].[Items]  WITH CHECK ADD  CONSTRAINT [FK_Items_Categories_CategoryId1] FOREIGN KEY([CategoryId1])
REFERENCES [dbo].[Categories] ([CategoryId])
GO
ALTER TABLE [dbo].[Items] CHECK CONSTRAINT [FK_Items_Categories_CategoryId1]
GO
ALTER TABLE [dbo].[Items]  WITH CHECK ADD  CONSTRAINT [FK_Items_Suppliers_SupplierId] FOREIGN KEY([SupplierId])
REFERENCES [dbo].[Suppliers] ([SupplierId])
GO
ALTER TABLE [dbo].[Items] CHECK CONSTRAINT [FK_Items_Suppliers_SupplierId]
GO
ALTER TABLE [dbo].[Items]  WITH CHECK ADD  CONSTRAINT [FK_Items_Suppliers_SupplierId1] FOREIGN KEY([SupplierId1])
REFERENCES [dbo].[Suppliers] ([SupplierId])
GO
ALTER TABLE [dbo].[Items] CHECK CONSTRAINT [FK_Items_Suppliers_SupplierId1]
GO
ALTER TABLE [dbo].[StockIns]  WITH CHECK ADD  CONSTRAINT [FK_StockIns_Items_ItemId] FOREIGN KEY([ItemId])
REFERENCES [dbo].[Items] ([ItemId])
GO
ALTER TABLE [dbo].[StockIns] CHECK CONSTRAINT [FK_StockIns_Items_ItemId]
GO
ALTER TABLE [dbo].[StockIns]  WITH CHECK ADD  CONSTRAINT [FK_StockIns_Items_ItemId1] FOREIGN KEY([ItemId1])
REFERENCES [dbo].[Items] ([ItemId])
GO
ALTER TABLE [dbo].[StockIns] CHECK CONSTRAINT [FK_StockIns_Items_ItemId1]
GO
ALTER TABLE [dbo].[StockIns]  WITH CHECK ADD  CONSTRAINT [FK_StockIns_Suppliers_SupplierId] FOREIGN KEY([SupplierId])
REFERENCES [dbo].[Suppliers] ([SupplierId])
GO
ALTER TABLE [dbo].[StockIns] CHECK CONSTRAINT [FK_StockIns_Suppliers_SupplierId]
GO
ALTER TABLE [dbo].[StockIns]  WITH CHECK ADD  CONSTRAINT [FK_StockIns_Suppliers_SupplierId1] FOREIGN KEY([SupplierId1])
REFERENCES [dbo].[Suppliers] ([SupplierId])
GO
ALTER TABLE [dbo].[StockIns] CHECK CONSTRAINT [FK_StockIns_Suppliers_SupplierId1]
GO
ALTER TABLE [dbo].[StockOuts]  WITH CHECK ADD  CONSTRAINT [FK_StockOuts_Items_ItemId] FOREIGN KEY([ItemId])
REFERENCES [dbo].[Items] ([ItemId])
GO
ALTER TABLE [dbo].[StockOuts] CHECK CONSTRAINT [FK_StockOuts_Items_ItemId]
GO
ALTER TABLE [dbo].[StockOuts]  WITH CHECK ADD  CONSTRAINT [FK_StockOuts_Items_ItemId1] FOREIGN KEY([ItemId1])
REFERENCES [dbo].[Items] ([ItemId])
GO
ALTER TABLE [dbo].[StockOuts] CHECK CONSTRAINT [FK_StockOuts_Items_ItemId1]
GO
